<!-- header.html -->
<p id="header">
        Made with <span class="keyword">Rust</span> & <span class="keyword">JavaScript</span>
</p>

<div id="github-source">
  <span>"Child, all the service</span>
  <p id="second">thou hast done to Tash,</p>
  <p id="second">I account as service done to me…</p>
  <p id="second">Not because he and I are one,</p>
  <p id="second">but because we are opposites…</p>
  <p id="second">no service which is vile can be done to me,</p>
  <p id="second">and none which is not vile</p>
  <p id="second">can be done to him…</p>
  <p id="second">Therefore if any man</p>
  <p id="second">swear by Tash and keep his oath…</p>
  <p id="second">it is by me that he has truly sworn,</p>
  <p id="second">though he know it not.</p>
</div>

<style>
  #header {

    padding: 0 0 0 2%;
    background: rgba(220, 92, 92, 0.6);
    color: rgb(29, 27, 27);
    font-size: 20px;
    border: 0;
    line-height: 1;            /* remove extra line height */
  }



  #second {
    background: greenyellow;
    
    opacity: 80%;
    padding: 0;
    margin: 0 0 1% 0; /* <-- adds 4px gap below without background */
    border: 0;
    line-height: 1;
  }

  #github-source {
      /* opacity: 80%; */
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    color: black;
    line-height: 3;
    z-index: 1100;
    padding: 0px;
    /* weird horizontal offset: start from middle of screen horizontally */
    transform: translateX(-30%);
    /* add a slight vertical offset to separate from header */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


</style>
